<div class="container mt-3">
  <div class="row">
    <p> Trainer's Name </p>
    <p> Placeholder for create lesson button </p>
  </div>
<% @lessons.each do |lesson| %>
  <div>
    <div class="card-product mx-3 mb-2">
      <%= link_to lesson_path(lesson) do %>
        <img src="">
        <div class="card-product-infos">
          <%= lesson.title.titleize %>
          <br>
          <%= lesson.user.name.titleize %>
          <br>
          <%= lesson.duration.round(-1) %>
        </div>
      <% end %>
    </div>
     <%= render partial: "lesson_bookings", locals: {lesson: lesson } %>
  </div>
<% end %>
</div>
