<!-- <div class="container my-5">
  <h1 class="">Make a booking</h1>
  <div class="card rounded-4 p-3 mb-3">
    <h3><%= @lesson.title %></h3>
    <p><%= @lesson.description %></p>
    <p><%= @lesson.capacity %> people</p>
    <div class="d-flex justify-content-between text-start">
      <p><%= @lesson.duration %> minutes</p>
      <h6><b><%= @lesson.price %>$</b></h6>
    </div>
    <h6><em><%= @lesson.address %></em></h6>
  </div>
</div>-->

<div class="booking-form text-white my-5">
  <div class="form-header">
    <h2 class>Make a booking</h2>
  </div>

  <form>
    <h3><%= @lesson.title.capitalize %></h3>
    <p><%= @lesson.description %></p>
    <p>Capacity: <%= @lesson.capacity %> people</p>
    <p>Duration: <%= @lesson.duration %> minutes</p>
    <h6>Price: <b><%= @lesson.price %>$</b></h6>
  </form>
  <%= render 'bookings/form' %>

</div>
