

<div class="slider" reverse="true" style="
    --width: 300px;
    --height: 400px;
    --quantity: 7;
">
   <div class="list-item">
<div class="item-list" style="--position: 1">
  <%= link_to lesson_path(1) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>

<div class="item-list" style="--position: 2">
  <%= link_to lesson_path(2) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>

<div class="item-list" style="--position: 3">
  <%= link_to lesson_path(3) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>

<div class="item-list" style="--position: 4">
  <%= link_to lesson_path(4) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>

<div class="item-list" style="--position: 5">
  <%= link_to lesson_path(5) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>

<div class="item-list" style="--position: 6">
  <%= link_to lesson_path(6) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>

<div class="item-list" style="--position: 7">
  <%= link_to lesson_path(7) do %>
    <p>
      <%= image_tag("lesson1.png", alt: "Lesson Image") %>
      <b>The Art of Speed and Precision</b><br>
      Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat.
    </p>
  <% end %>
</div>


        <!--  <div class="item-list" style="--position: 2"><p><img src="slider2.png" alt=""> <b>Saiyan-Level Endurance Training <br></b> Push your limits with high-intensity combat training, extreme endurance workouts, and power development to build unmatched stamina and full-body strength.
          </p></div>

        <div class="item-list" style="--position: 3"><p><img src="lesson3.png" alt=""> <b>Building Strength Like a Champion <br></b> Learn bodybuilding fundamentals, hypertrophy training, and proper weightlifting techniques to maximize muscle growth and build a strong, powerful physique.
          </p></div>
        <div class="item-list" style="--position: 4"><p><img src="slider4.png" alt=""> <b>Mastering Speed and Explosiveness <br></b> Train with sprinting drills, acceleration techniques, and endurance conditioning to enhance running speed, explosive starts, and overall cardiovascular performance.
        </p></div>
        <div class="item-list" style="--position: 5"><img src="slider5.png" alt=""></div>
        <div class="item-list" style="--position: 6"><img src="slider6.png" alt=""></div>
        <div class="item-list" style="--position: 7"><img src="slider7.png" alt=""></div> -->



    </div>
</div>


<!-- original code for both slides

<div class="slider" style="
    --width: 50px;
    --height: 50px;
    --quantity: 6;
">
    <div class="list">
        <div class="item" style="--position: 1"><img src="bruce-lee.png" alt=""></div>
        <div class="item" style="--position: 2"><img src="goku.png" alt=""></div>
        <div class="item" style="--position: 3"><img src="arnold.png" alt=""></div>
        <div class="item" style="--position: 4"><img src="sprinting.png" alt=""></div>
        <div class="item" style="--position: 5"><img src="boxing.png" alt=""></div>
        <div class="item" style="--position: 6"><img src="all-might.png" alt=""></div>
    </div>
</div>

<div class="slider" reverse="true" style="
    --width: 300px;
    --height: 600px;
    --quantity: 7;
">
    <div class="list">
        <div class="item" style="--position: 1"><p><img src="lesson1.png" alt=""> <b>The Art of Speed and Precision <br></b>Master Jeet Kune Do principles, agility, and explosive movement to develop lightning-fast reflexes and adaptability in combat. </p></div>
        <div class="item" style="--position: 2"><p><img src="slider2.png" alt=""> <b>Saiyan-Level Endurance Training <br></b> Push your limits with high-intensity combat training, extreme endurance workouts, and power development to build unmatched stamina and full-body strength.
</p></div>
        <div class="item" style="--position: 3"><p><img src="lesson3.png" alt=""> <b>Building Strength Like a Champion <br></b> Learn bodybuilding fundamentals, hypertrophy training, and proper weightlifting techniques to maximize muscle growth and build a strong, powerful physique.
</p></div>
        <div class="item" style="--position: 4"><p><img src="slider4.png" alt=""> <b>Mastering Speed and Explosiveness <br></b> Train with sprinting drills, acceleration techniques, and endurance conditioning to enhance running speed, explosive starts, and overall cardiovascular performance.
</p></div>
        <div class="item" style="--position: 5"><img src="slider5.png" alt=""></div>
        <div class="item" style="--position: 6"><img src="slider6.png" alt=""></div>
        <div class="item" style="--position: 7"><img src="slider7.png" alt=""></div>
    </div>
</div>
-->
