<div class="container mt-3">
  <div class="row mb-3">
    <%= render 'search' %>
  </div>
  <div class="row">
    <div class="col-2 filter-container">
        <%= link_to "#filters", data: { bs_toggle: 'collapse' } do %>
          <h5><i class="fa-solid fa-filter"></i></h5>
        <% end %>

        <div id="filters" class="collapse" tabindex="-1">
          <%= link_to category: 'pilates' do  %>
            <h3><i class="fa-solid fa-dumbbell"></i></h3>
          <% end %>
        </div>

    </div>

    <div class="col-6">
      <% @lessons.each do |lesson| %>
        <div class="card-product mx-3 mb-2">
          <%= link_to lesson_path(lesson) do %>
            <% if lesson.photos.attached? %>
              <%= cl_image_tag lesson.photos.first.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
            <% end %>

            <div class="card-product-infos">
              <%= lesson.title.titleize %>
              <br>
              <%= lesson.category %>
              <br>
              <%= lesson.user.name.titleize %>
              <br>
              <%= lesson.duration.round(-1) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-4">
    <div class="map-container">
      <div class="map-view"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    </div>
  </div>
</div>
