<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= @lesson.title %></h2>
          <p><strong><%= @lesson.price %></strong></p>
        </div>
      </div>


<div class="card">
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%= @lesson.description %></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text"><strong>Duration:</strong><%= @lesson.duration %></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text"><strong>Capacity:</strong><%= @lesson.capacity %></p>
  </div>
</div>
    </div>

 <div class="card-product">
        <div class="card-product-infos">
          <h2><%= @trainer.name %></h2>
          <p><strong><%= @lesson.price %></strong></p>
          <%# <%= %>
        </div>
      </div>


    <div class="col-4">
      <div><%= @trainer.name %></div>
    </div>
  </div>
  <%# <div class="card-category repeat-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU'))"> %>
  <%# </div> %>
</div>
