<div class="container">
  <%= @lesson.title %>
  <%= @lesson.price %>
</div>
<div class="card=category">
  <%= @lesson.description %>
  <%= @lesson.duration %>
  <%= @lesson.capacity %>
</div>
<div class="container">
<%= @trainer.name %>

</div>
