  <%# <%= link_to 'Back', lesson_path(@lesson), class: 'm-4 btn btn-secondary rounded-4 text-black' %> %>
<div class="container mt-1">
  <div class="row">
    <div class="col-8">
      <div class="card-product border">
        <div class="card-product-infos">
          <h1><%= @lesson.title %></h1>
          <% if @lesson.photos.attached? %>

          <% @lesson.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
          <h2>Price:  ¥<strong><%= @lesson.price %></strong></h2>
        </div>
      </div>
      <div class="card rounded">
        <div class="card-body">
          <h5 class="card-title"><strong>Description:</strong></h5>
          <p class="card-text"><%= @lesson.description %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>Duration: </strong><%= @lesson.duration %> minutes</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>Capacity: </strong><%= @lesson.capacity %> persons</p>
        </div>
      </div>
    </div>
    <div class="card-product w-25 ms-2 border rounded align-items-center">
      <div class="card-product-infos">
        <h1><%= @trainer.name %></h1>
 <% if @trainer.photos.attached? %>

          <% @trainer.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
        <h6>Average Rating:<%= "⭐⭐⭐⭐"  %></h3>
        <h6 class="text-center">Recent Reviews!</h6>
        <div class="row">
          <div class="col-sm border rounded-circle">
            I'm still sore all over!
          </div>
          <div class="col-sm border rounded-circle">
            My muscles are huge!
          </div>
        </div>
       <!-- <div class="btn btn-trainer ">Trainer Profile</div> -->
        <%= link_to "Book Now!", new_lesson_booking_path(@lesson), class: "btn text-white mt-4", style: "height:50px; background-color: #2B4864" %>
      </div>
      <!-- <div class="col-4 border">
      <div><%= @trainer.name %></div>
    </div>
  </div>
  <%# <div class="card-category repeat-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU'))"> %>
  <%# </div> %>
</div>
-->
